<div class="row">
    <div class="col offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Martita</span>
                <canvas
                        tc-chartjs-line
                        chart-data="chartData"
                        chart-options="chartOptions"
                        chart-click="onChartClick(event)"
                        chart-legend="lineChart"
                ></canvas>
            </div>
        </div>
    </div>
</div>