<div class="row">
    <div class="col m8">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Card Title</span>
                <div ng-repeat="dadosMartita in vm.todos">
                    Data: {{dadosMartita.data | date:"dd/MM/yyyy 'as' h:mma"}}<br>
                    Umidade do solo: {{dadosMartita.umidadeSolo}} - Temperatura: {{dadosMartita.temperatura}} - Umidade:
                    {{dadosMartita.umidade}}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>