<div class="row">
    <div class="col m4 center">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">Temperatura</span>
                <h1 ng-class="vm.classTemperatura"
                    ng-show="vm.ultimosDados.temperatura"
                    ng-bind="vm.ultimosDados.temperatura + 'Cº'"></h1>
                <span ng-bind="'Max: '+ vm.dadosMax.temperatura"></span>
                <span ng-bind="'Min: '+ vm.dadosMin.temperatura"></span>
            </div>
        </div>
    </div>
    <div class="col m4 center">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">Umidade</span>
                <h1 ng-class="vm.classUmidade"
                    ng-show="vm.ultimosDados.umidade"
                    ng-bind="vm.ultimosDados.umidade + '%'"></h1>
                <span ng-bind="'Max: '+ vm.dadosMax.umidade"></span>
                <span ng-bind="'Min: '+ vm.dadosMin.umidade"></span>
            </div>
        </div>
    </div>
    <div class="col m4 center">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">Umidade do solo</span>
                <h1 ng-class="vm.classSolo"
                    ng-show="vm.ultimosDados.solo"
                    ng-bind="vm.ultimosDados.solo+ '%'"></h1>
                <span ng-bind="'Max: '+ vm.dadosMax.solo"></span>
                <span ng-bind="'Min: '+ vm.dadosMin.solo"></span>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card hoverable">
            <div class="card-content">
                <canvas class="chart chart-line"
                        chart-data="[vm.dados.temperatura]"
                        chart-labels="vm.dados.tempo"
                        chart-series="vm.seriesTemperatura"
                        chart-click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card hoverable">
            <div class="card-content">
                <canvas class="chart chart-line"
                        chart-data="[vm.dados.umidade]"
                        chart-labels="vm.dados.tempo"
                        chart-series="vm.seriesUmidade"
                        chart-click="onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card hoverable">
            <div class="card-content">
                <canvas class="chart chart-line"
                        chart-data="[vm.dados.solo]"
                        chart-labels="vm.dados.tempo"
                        chart-series="vm.seriesSolo"
                        chart-click="onClick"></canvas>
            </div>
        </div>
    </div>
</div>