<!DOCTYPE html >
<html ng-app="martita" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Martita</title>

    <link rel="stylesheet" href="angular-material.min.css">
    <link rel="stylesheet" href="angular-material-sidemenu.css">
    <link rel="stylesheet" href="ui-grid.min.css">
    <link rel="stylesheet" href="material-icons.css">
    <link rel="stylesheet" href="materialize.min.css">

    <script src="dependencies.min.js"></script>
    <script src="main.js"></script>
    <script src="vendor.min.js"></script>
</head>

<body ng-cloak ng-controller="MainController as vm">

<nav class="navbar blue accent-4">
    <a ng-click="vm.alterarRota('dashboard')" class="brand-logo center"></a>
    <md-button class="md-icon-button collapse"
               aria-label="Menu Lateral"
               ng-click="vm.openSideNavPanel()">
        <md-tooltip>Menu</md-tooltip>
        <md-icon class="material-icons white-text">menu</md-icon>
    </md-button>
</nav>

<div class="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

        <md-toolbar layout="row" class="blue accent-4 menu-lateral">
            <div class="md-toolbar-tools blue accent-4">
                <h2>Martita Project</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Fechar Menu Lateral" ng-click="vm.closeSideNavPanel()">
                    <md-tooltip>Fechar</md-tooltip>
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-sidemenu>
                <md-subheader>Menu</md-subheader>
                <md-sidemenu-group>
                    <md-sidemenu-content md-icon="dashboard"
                                         ng-click="vm.alterarRota('main')"
                                         md-heading="Menu Principal">
                    </md-sidemenu-content>
                </md-sidemenu-group>
                <md-sidemenu-group>
                    <md-sidemenu-content md-icon="supervisor_account"
                                         md-heading="Menu1"
                                         md-arrow="true">
                        <md-button ng-click="vm.alterarRota('nomeRota')">
                            <md-icon class="material-icons">note_add</md-icon>
                            Rota
                        </md-button>
                    </md-sidemenu-content>
                </md-sidemenu-group>
            </md-sidemenu>
        </md-content>
    </md-sidenav>
</div>

<ui-view>
</ui-view>
</body>
</html>