<!DOCTYPE html >
<html ng-app="martita" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Martita</title>

    <link rel="stylesheet" href="styles.css">

    <script src="vendor.min.js"></script>
    <script src="main.js"></script>
    <script src="app.min.js"></script>
</head>

<body ng-cloak ng-controller="DashboardController as vm">
<nav class="navbar navbar-light bg-faded indigo darken-4">
    <a href="#/dashboard" class="brand-logo center">Martita</a>
    <div class="collapse" id="exCollapsingNavbar">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="vm.openSideNavPanel()">
            <md-tooltip>Menu</md-tooltip>
            <md-icon class="white-text material-icons">&#xE5D2;</md-icon>
        </md-button>
    </div>
</nav>

<div class="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar layout="row" style="height: 200px; background-color: #0D47A1">
            <div class="md-toolbar-tools blue darken-4">
                <h2><span>Martita</span></h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="vm.closeSideNavPanel()">
                    <md-tooltip>Fechar</md-tooltip>
                    <md-icon class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-sidemenu locked="true">
            <md-sidemenu-group>
            </md-sidemenu-group>
            <md-sidemenu-group>
                <md-subheader class="md-no-sticky">Menu</md-subheader>
                <md-sidemenu-content ng-click="vm.alterarRota('dashboard')" md-icon="&#xE1AF;"
                                     md-heading="Dashboard">
                </md-sidemenu-content>
            </md-sidemenu-group>
        </md-sidemenu>
    </md-sidenav>
</div>
<ui-view>
</ui-view>

</body>
</html>